<!--
/**
 * Dimebox routes defination for backend controllers  
 *  
 * @category    Dimebox
 * @copyright   Dimebox
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="dimebox_payment" frontName="dimebox_payment">
            <module name="dimebox_payment"/>
        </route>
    </router>
</config>